html
  head
    title= title
    style 
      include style1.css
      include style2.css
    
  body
    p= userName 
    p= userDOB 
    p= userEmail 
    p= userFirstName 
    p= userLastName
    p= isAdmin